<?xml version="1.0" encoding="UTF-8"?>
<types>
    <settings>
        <add_resized_images_to_library>0</add_resized_images_to_library>
        <register_translations_on_import>1</register_translations_on_import>
        <images_remote>0</images_remote>
        <images_remote_cache_time>36</images_remote_cache_time>
        <help_box>by_types</help_box>
    </settings>
    <types>
        <type>
            <labels>
                <name>Header Slides</name>
                <singular_name>Header Slide</singular_name>
                <add_new>Add New</add_new>
                <add_new_item>Add New %s</add_new_item>
                <edit_item>Edit %s</edit_item>
                <new_item>New %s</new_item>
                <view_item>View %s</view_item>
                <search_items>Search %s</search_items>
                <not_found>No %s found</not_found>
                <not_found_in_trash>No %s found in Trash</not_found_in_trash>
                <parent_item_colon>Parent text</parent_item_colon>
                <all_items>All items</all_items>
            </labels>
            <slug>headerslides</slug>
            <description>Apply one or many slides to your home page\&#039;s header.</description>
            <icon>align-center</icon>
            <public>public</public>
            <menu_position></menu_position>
            <menu_icon></menu_icon>
            <supports>
                <title>1</title>
                <editor>1</editor>
            </supports>
            <rewrite>
                <enabled>1</enabled>
                <custom>normal</custom>
                <slug></slug>
                <with_front>1</with_front>
                <feeds>1</feeds>
                <pages>1</pages>
            </rewrite>
            <has_archive>1</has_archive>
            <show_in_menu>1</show_in_menu>
            <show_in_menu_page></show_in_menu_page>
            <show_ui>1</show_ui>
            <publicly_queryable>1</publicly_queryable>
            <can_export>1</can_export>
            <show_in_nav_menus>1</show_in_nav_menus>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <permalink_epmask>EP_PERMALINK</permalink_epmask>
            <wpcf-post-type></wpcf-post-type>
            <_toolset_edit_last>1433524583</_toolset_edit_last>
            <id>headerslides</id>
            <__types_id>headerslides</__types_id>
            <__types_title>Header Slides</__types_title>
            <hash>923d57d021cc05c1dea04e0c5b6ae033</hash>
            <checksum>923d57d021cc05c1dea04e0c5b6ae033</checksum>
        </type>
    </types>
</types>