.featuredCaption {
  background: green;
}

.post,
.single,
.page {
  ul,
  ol {
    margin-bottom: 1rem;

    li {
      font-size: 1.2rem;
    }
  }

  .entry-header {
    position: relative;
    display: inline-block;

    h1 {
      color: $uwred;
      font-size: 36px;
    }

    .entrySubTitle {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-top: 0em;
      color: rgba(0, 0, 0, 0.4);
    }

    .posted-on,
    .byline {
      font-size: 11px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .featured_title {
      position: absolute;
      bottom: 0.5em;
      right: 0em;
      left: 0em;
      background: #000000;
      opacity: 0.7;

      .entrySubTitle {
        color: rgba(255, 255, 255, 0.5);
        padding: 0em 3.2em;
        margin-top: 1.3em;
      }

      .entry-meta {
        padding-left: 2em;
        margin-top: -1em;
        margin-bottom: 1em;
      }

      h1 {
        color: #fff;
        margin-top: 0em;
        padding: 0.3em 1em;
      }

      .posted-on,
      .byline {
        color: #fff;

        a {
          color: #2dcce8;
        }
      }
    }

    .entry-title {
      margin-top: 0em;
    }
  }
}
