/* Open Sans Normal and Bold (400,700) */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

/* Raleway Light (300) */
@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,500,700);

/* Roboto */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);


a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	font-family: "Open Sans";
	line-height: 1.7;
}

h1.entry-title, h1.page-title {
	font-family: "Raleway";
	font-size: 30px;
	font-weight: 300;
	margin-top: 2em;
	color: $uwred-dark;
}