/* Open Sans Normal and Bold (400,700) */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

/* Raleway Light (300) */
@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,500,700);

/* Roboto */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

/* Nunito */
@import url(https://fonts.googleapis.com/css?family=Nunito:300);

/* Verlag Black */
@font-face {
    font-family: 'Verlag-Black';
    src: url('../../css/webfont/VerlagBlack.eot');
    src: url('../../css/webfont/VerlagBlack.eot') format('embedded-opentype'),
         url('../../css/webfont/VerlagBlack.woff2') format('woff2'),
         url('../../css/webfont/VerlagBlack.woff') format('woff'),
         url('../../css/webfont/VerlagBlack.ttf') format('truetype'),
         url('../../css/webfont/VerlagBlack.svg#VerlagBlack') format('svg');
}


/* Verlag Book */
@font-face {
  font-family: 'Verlag-Book';
    src: url('../../css/webfont/VerlagBook.eot');
    src: url('../../css/webfont/VerlagBook.eot') format('embedded-opentype'),
         url('../../css/webfont/VerlagBook.woff2') format('woff2'),
         url('../../css/webfont/VerlagBook.woff') format('woff'),
         url('../../css/webfont/VerlagBook.ttf') format('truetype'),
         url('../../css/webfont/VerlagBook.svg#VerlagBook') format('svg');
}


/* Verlag Light */
@font-face {
  font-family: 'Verlag-Light';
    src: url('../../css/webfont/Verlag-Light.eot');
    src: url('../../css/webfont/Verlag-Light.eot') format('embedded-opentype'),
        
         url('../../css/webfont/Verlag-Light.woff') format('woff'),
         url('../../css/webfont/Verlag-Light.ttf') format('truetype'),
         url('../../css/webfont/Verlag-Light.svg#Verlag-Light') format('svg');
}

/* Verlag Bold */
@font-face {
 font-family: 'Verlag-Bold';
    src: url('../../css/webfont/VerlagBold.eot');
    src: url('../../css/webfont/VerlagBold.eot') format('embedded-opentype'),
         url('../../css/webfont/VerlagBold.woff2') format('woff2'),
         url('../../css/webfont/VerlagBold.woff') format('woff'),
         url('../../css/webfont/VerlagBold.ttf') format('truetype'),
         url('../../css/webfont/VerlagBold.svg#VerlagBold') format('svg');
}




/*@font-face { font-family: 'FrizQuadrataTT'; src: url('../../css/webfont/FrizQuadrataTT.eot?#iefix') format('embedded-opentype'), url('../../css/webfont/FrizQuadrataTT.woff') format('woff'), url('../../css/webfont/FrizQuadrataTT.ttf') format('truetype'), url('../../css/webfont/FrizQuadrataTT.svg#FrizQuadrataTT') format('svg'); font-weight: normal; font-style: normal; }*/



.verlag-option {

	

	strong {
		font-family: 'Verlag-Bold' !important;
	}

	.main-title {
		font-weight: 400;
	}

	.search-youruw .youruw .youruwTrigger {
		font-family: 'Verlag-Book';
	}

	.site-header .main-navigation .site-navigation-container li a {
		font-family: 'Verlag-Bold';
		letter-spacing: 1px;

	}

	.spotlight h2 a {
		font-family: 'Verlag-Bold';
	}

	.sidebar_menu #nav_explore li a, .sidebar_menu #nav_explore.children>li:last-child a, .sidebar_menu #nav_explore>li:last-child a, .sidebar_menu .widget ul li a, .widget-area #nav_explore li a, .widget-area #nav_explore.children>li:last-child a, .widget-area #nav_explore>li:last-child a, .widget-area .widget ul li a {
		font-family: 'Verlag-Book';
	}

	h1.entry-title, h1.page-title {
		
		  font-family: 'Verlag-Black';
		  text-transform: uppercase;   
	}

	.featureHeader .heroImage .heroHeadingWrapper .heroHeading h1 span {
		font-family: 'Verlag-Book';
	}

	.featureHeader .heroImage .heroHeadingWrapper .heroHeading h1 {
		font-family: 'Verlag-Bold';
	}

	.sidebar_menu h1, .sidebar_menu.expanded h1 a, .widget-area h1 {
		font-family: 'Verlag-Black';
	}

	.sidebar_menu #nav_explore li a .nav_text, .sidebar_menu .widget ul li a .nav_text, .widget-area #nav_explore li a .nav_text, .widget-area .widget ul li a .nav_text {
		font-family: 'Verlag-Book' !important;
	}

	.featuredPage h2 {
		font-family: 'Verlag-Black';
		  text-transform: uppercase; 
	}

	.featuredPage p {
		font-family: 'Verlag-Book';
	}

	

	.site-header .noimageLogo .logoImage .mainTitle {
		
		font-family: 'Verlag-Bold';
		
		div.primaryTitle, div.primaryTitle span {
			font-family: 'Verlag-Bold';
			line-height: 1;
			white-space: nowrap;
			
		}

		span {
			font-family: 'Verlag-Book';
			
		}
	}

	a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
		font-family: 'Verlag-Book';
		
	}

	h2 {
		font-family: 'Verlag-Bold';
	}

	p {
		font-size: 1.2em;
	}

}

.page .verlag-option .entry-header h1, .post .verlag-option .entry-header h1, .single .verlag-option .entry-header h1 {
		color: rgba(0,0,0,0.8);
	}

.entry-header h1:before, .page .verlag-option .entry-header h1:before, .post .verlag-option .entry-header h1:before, .single .verlag-option .entry-header h1:before {
	content: "";
	display: block;
	width: 1em;
	height: 4px;
	margin-top: 6px;
	margin-bottom: 6px;
	background: $uwred;
}



a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	font-family: "Open Sans";
	line-height: 1.7;
}

h1.entry-title, h1.page-title {
	font-family: "Raleway";
	font-size: 30px;
	font-weight: 300;
	margin-top: 2em;
	color: $uwred-dark;
}