.page {
  li.uwmadison_event {
    line-height: 1rem;
    font-size: 1rem;

    .event-title-and-subtitle {
      line-height: 1;
    }
  }
}

.page main ul.uwmadison_events {
  margin: 0em;
  margin-top: 1em;
  padding: 0em;
  list-style-type: none;

  .uwmadison_event_date {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #747474;
    opacity: 0.8;
    padding-top: 2.5px;
    letter-spacing: 0.5px;
    float: left;
    width: 15%;
  }

  .uwmadison_event_title {
    display: block;
    line-height: 1.1em;
  }

  .uwmadison_event {
    width: 100%;
    display: inline-block;
    margin-bottom: 0.7em;
  }

  .event-title-and-subtitle {
    width: 80%;
    float: left;
    line-height: 1.1em !important;
  }

  a {
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1.5em;
  }

  .uwmadison_event_subtitle {
    font-size: 13px;
  }
}

@media screen and (max-width: 700px) {
  .page main ul.uwmadison_events .uwmadison_event_date {
    display: block;
    width: 100%;
  }

  .page main ul.uwmadison_events .event-title-and-subtitle {
    width: 100%;
  }
}
