.archive{
	
	#content{
		margin-top: 5em;
	}
	
	.page-title{
		margin-top: 0em;
	}
	
	main ul{
		list-style: none;
		margin: 0em;
		padding: 0em;
		
		li{
			list-style: none;
			margin: 0em;
			padding: 0em;
		}
	}
}