footer {
	background: #2f2f2f;
	font-size: 11px;
	padding: 1em;
	padding-left: 7em;
	
	a, a:hover, a:focus, a:visited{
		color: #9E9E9E;
		text-decoration: none;
	}
	
	a:hover,a:focus{
		text-decoration: underline;
	}	
}