footer {
	background: #2f2f2f;
	font-size: 11px;
	padding: 3em;
	
	
	a, a:hover, a:focus, a:visited{
		color: #9E9E9E !important;
		text-decoration: none;
	}
	
	a:hover,a:focus{
		text-decoration: underline;
	}
	
	
	.site-info {
		float: left;
		width: 45%;
		font-size: 1rem;
		font-family: "Verlag-Light";
		font-weight: 400;

		a {
		font-family: "Verlag-Light";
		font-weight: 400;
		color: #767676 !important;
		}
		
	}

	.textwidget {
		font-size: 1.1rem;
	}
	
	.footerWrapper {
		max-width: $content-width-max;
		margin: 0 auto;
		
		ul, ol {
			list-style: none;
			margin-left: 0px;

			li {
				margin-left: 0px;
			}
		}

		.searchLabel div {
			background: transparent !important;
		}

		.searchLabel input[type="text"] {
			color: rgba(255,255,255,0.9);
		}

		.searchLabel .searchFormIcon {
			top: 6px !important;
			left: 6px !important;
		}

		.footerWidgetAreas {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box; 
			display: flex;
			
			flex-direction: row;
			flex-wrap: wrap;
			

			.footer-widget-area {
				flex: 1 1 20%;
				height: auto;
				min-width: 160px;
    			margin-right: 5%;
				color: rgba(255,255,255,0.7);
				margin-top: 3em;

				aside {
					margin-bottom: 4em;
				}

				
				h1, h2 {
					font-size: 18px;
					font-weight: bold;
					margin-top: 0px;
					margin-bottom: 1.5em;
					color: rgba(255,255,255,0.8);
					text-transform: uppercase;
					letter-spacing: 1px;
				}

				p, li, a {
					font-size: 15px;
					font-weight: 300;
				}

				li {
					margin-bottom: 0.7em;
					
					.sub-menu {
						background: transparent;
					}
				}
			}
			
			
			.footer-widget-area:first-child {
				/*margin-left: 5%;*/
			}
			
			.footer-widget-area:last-child {
				margin-right: 0;
			}


		}

		.footerWidgetAreas:after {
			content: "";
			clear: both;
		}
	}	
	
	.social {
		float: right;
		width: 45%;
		height: 20px;
		overflow: hidden;
		text-align: right;
		
		ul {
			list-style: none;
			margin: 0px;
			display: flex;
			justify-content: flex-end;
			
			li {
				list-style: none;
				margin:0px;
				padding: 0px;
				display: block;
				margin-left: 0.2rem;
				
				width: 20px;
				height: 20px;
				
				
				a {
					display: block;
					color: rgba(255,255,255,0) !important;
					text-indent: -1000000px;
					overflow: hidden;
					
					
					svg {
						width: 100%;
						height: 100%;
						
						path {
							fill: rgba(255,255,255,0.3);
						}
					}
				}
				
				
			}
			
			
				li.linkedin_social {
					position: relative;
					top: -6px;
					width: 34px;
					height: 34px;
					
					a {
						svg {
							
						}
					}
					
				}
				
				li.youtube_social {
					position: relative;
					top: -2px;
					width: 17px;
					height: 17px;
				}

				li.instagram_social {
					position: relative;
					top: -1px;
					left: -3px;
					width: 16px;
					height: 16px;
				}
				
				li.facebook_social {
					position: relative;
					top: -1px;
					left: 0px;  
					width: 18px;
					height: 18px;
				}

				li.flickr_social {
					position: relative;
					top: -2px;
					left: 1px;  
					width: 15px;
					height: 15px;

					svg {
						.dots {
							fill: #2f2f2f;
						}
					}
					
				}
		}
	}
}