/* Global CSS */

.site-header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index:3;
	
	.site-title, .site-description {
		position: absolute;
		top: -1000px;
		left: 0px;
		z-index:1;
		
	}
	
	.logo-search-container {
		max-width: $content-width-max;
		margin: 0 auto;
	}
	
	.logoImage {
		display:inline-block;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		margin-left: 0;
	}
	
	
	.main-navigation {
		width: 100%;
		background: rgba(255,255,255,0.2);
		padding: 0.3em;
		
		.site-navigation-container {
			max-width: $content-width-max;
			margin: 0 auto;
			
			a {
				display: inline-block;
				color: rgba(255,255,255,0.9);
			}
		}
	}
}




.site-content{
	margin: 2em 1em;
}

.entry-meta, a, a:hover, a:focus, a:visited{
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: -0.6em;
	margin-left: 0.2em;
	color: #5F5F5F;
}