/* Global CSS */

#page {
	transition: 0.3s;
	-webkit-transition: 0.3s;
}

#page.blur {
	filter: blur(8px);
	-webkit-filter: blur(8px);
}

.site-header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index:3;
	
	.site-title, .site-description {
		position: absolute;
		top: -1000px;
		left: 0px;
		z-index:1;
		
	}
	
	.logo-search-container {
		max-width: $content-width-max;
		margin: 0 auto;
		padding-left: 30px;
		padding-right: 30px;
		position: relative;
	}
	
	.logoImage {
		display:inline-block;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		margin-left: 0;
		line-height: 1;
	}
	
	
	.main-navigation {
		width: 100%;
		background: rgba(255,255,255,0.35);
		
		
		.site-navigation-container {
			max-width: $content-width-max;
			margin: 0 auto;
			padding-left: 30px;
			padding-right: 30px;
			
			li {
				line-height: 1;
				
				a {
					
					display: inline-block;
					color: rgba(0,0,0,0.9);
					font-family: "Roboto Condensed", sans-serif;
					font-weight: 400;
					font-size: 14px;
					line-height: 1;
					letter-spacing: 0.3px;
					padding: 0.8em;
					padding-left: 1.1em;
					padding-right: 1.1em;
					margin-top: 0px;
					margin-bottom: 0px;
					text-transform: uppercase;
				}
				
				a:hover, a:focus {
					background: $uwred;
					color: rgba(255,255,255,0.8);
				}
			}
		}
	}
}




.site-content{
	margin: 2em 1em;
}

.site-footer a, site-footer a:hover, site-footer a:focus, site-footer a:visited{
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	
}