/* Global CSS */

.site-header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index:3;
	
	.site-title, .site-description {
		position: absolute;
		top: -1000px;
		left: 0px;
		z-index:1;
		
	}
	
	.logo-search-container {
		max-width: $content-width-max;
		margin: 0 auto;
	}
	
	
	.main-navigation {
		width: 100%;
		background: rgba(255,255,255,0.2);
		padding: 0.5em;
		
		.site-navigation-container {
			max-width: $content-width-max;
			margin: 0 auto;
			
			a {
				color: rgba(255,255,255,0.9);
			}
		}
	}
}

.featureHeader {
	min-height: 80px;
	background: $uwred;
	
	.heroImage {
		min-height: 300px;
	}
	
	.heroImageDefault {
		background: url("../../dist/images/bascom_sample.jpg") no-repeat;
		background-position: center center;
		background-size: 100%;
	}
}