.periodic_overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index:5;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.periodic_overlay.shown {
    opacity: 1;
    pointer-events: auto;
    
}



.periodic_frame {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 80%;
    min-height: 80%;
    
    transform: translate(-50%, -50%);
    z-index:6;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.group_legend {
  padding-bottom: 1rem;
  margin: 0 auto;
  max-width: 50%;
}

.group_legend ul, .group_legend li {
    list-style: none;
    margin: 0px;
  
}

.group_legend li {
  list-style: none;
  margin-bottom: 0.4rem;
}

.periodic_frame .periodic_description {
  color: #fff;
  width: 190px;
  padding-top: 20px;
  z-index:5;
}

.swatch {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.periodic_frame iframe {
	position: absolute;
	top: 0;
  left: 0;
  padding-left: 200px;
	width: 100%;
	height: 100%;
}

.periodic_frame .close {
    position: fixed;
    top: -35px;
    right: -35px;;
    
    height: 30px;
    z-index:7;
    color: #fff;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 1px;
    
    svg {
        position:relative;
        top: 9px;
        width: 30px;
        height: 30px;

        .symbol {
            fill: rgba(255,255,255,1);
        }
    }
}

.periodic_frame.shown {
    opacity: 1;
    pointer-events: auto;
}

  .periodic {
    position: relative;
    height: 200px;
    margin-right: -1px;
    text-shadow: none;
    line-height: 1;
    margin-bottom: 1rem;

    a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
        line-height:1;
     }
  }
  .periodic-row {
    clear: both;
    height: 10%;
  }
  .cell {
    float: left;
    position: relative;
    width: 5.55%;
    height: 100%;
  }
  .element {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 1px;
    right: 1px;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
    cursor: default;
    pointer-events: none;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    background-color: rgba(0, 128, 128, 0.6);
  }
  a.cell:hover .element {
    border-color: rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(3, 3);
    -ms-transform: scale(3, 3);
    transform: scale(3, 3);
    z-index: 1;
    background-color: rgba(0, 128, 128, 0.9);
  }
  .at_num,
  .at_details {
    position: absolute;
    font-size: 4px;
    color: rgba(255, 255, 255, 0.5);
    opacity: 0;
  }
  .at_num {
    top: 4px;
    right: 5px;
  }
  .symbol {
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    margin-top: -4px;
    font-size: 9px;
    line-height: 1;
    height: 9px;
    color: rgba(255, 255, 255, 0.9);
  }
  .at_details {
    bottom: 4px;
    left: 0px;
    right: 0px;
  }
  .cell:nth-child(-n+2) .element,
  .cell:nth-child(n+13) .element {
    background-color: rgba(0, 160, 96, 0.6);
  }
  .cell:nth-child(1) .element,
  .periodic-row:nth-child(2) .cell:nth-child(n+14) .element,
  .periodic-row:nth-child(3) .cell:nth-child(n+15) .element,
  .periodic-row:nth-child(4) .cell:nth-child(n+16) .element,
  .periodic-row:nth-child(5) .cell:nth-child(n+17) .element {
    background-color: rgba(0, 192, 64, 0.6);
  }
  .periodic-row:nth-child(-n+6) .cell:nth-child(18) .element {
    background-color: rgba(64, 192, 0, 0.6);
  }
  .periodic-row:nth-child(n+9) .element {
    background-color: rgba(0, 96, 160, 0.6);
  }
  .cell:nth-child(-n+2):hover .element,
  .cell:nth-child(n+13):hover .element {
    background-color: rgba(0, 160, 96, 0.9);
  }
  .cell:nth-child(1):hover .element,
  .periodic-row:nth-child(2) .cell:nth-child(n+14):hover .element,
  .periodic-row:nth-child(3) .cell:nth-child(n+15):hover .element,
  .periodic-row:nth-child(4) .cell:nth-child(n+16):hover .element,
  .periodic-row:nth-child(5) .cell:nth-child(n+17):hover .element {
    background-color: rgba(0, 192, 64, 0.9);
  }
  .periodic-row:nth-child(-n+6) .cell:nth-child(18):hover .element {
    background-color: rgba(64, 192, 0, 0.9);
  }
  .periodic-row:nth-child(n+9) .cell:hover .element {
    background-color: rgba(0, 96, 160, 0.9);
  }
  .cell:nth-child(1) .element {
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
  }
  .cell:nth-child(18) a.cell .element {
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  .periodic-row:nth-child(10) a.cell .element {
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  .periodic-row:nth-child(1) a.cell:nth-child(1) .element {
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  .periodic-row:nth-child(1) a.cell:nth-child(18) .element {
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
  .periodic-row:nth-child(10) a.cell:nth-child(18) .element {
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  @media (min-width: 600px) {
    .periodic {
      height: 460px;
      margin-right: -2px;
    }
    .element {
      right: 2px;
      bottom: 2px;
    }
    .at_num,
    .at_details {
      font-size: 4px;
      opacity: 1;
    }
    .symbol {
      margin-top: -17px;
      font-size: 16px;
      font-weight: bold;
      line-height: 30px;
      height: 30px;
      color: rgba(255, 255, 255, 0.75);
      text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    }
  }
  @media (min-width: 800px) {
    .periodic {
      height: 540px;
    }
    .symbol {
      font-size: 20px;
    }
  }
  @media (min-width: 992px) {
    .periodic {
      height: 680px;
    }
    .at_num,
    .at_details {
      font-size: 5px;
    }
    .symbol {
      font-size: 24px;
    }
  }
  @media (min-width: 1200px) {
    .periodic {
      height: 800px;
    }
    .at_num,
    .at_details {
      font-size: 6px;
    }
    .symbol {
      font-size: 30px;
    }
  }
  