.Safari .sidebar_menu.expanded {
	#nav_explore {
		a:before {

			/*margin-top: -6px;*/

		}

		#nav_explore {
			a:before {

			}
		}
	}
}

.page-widget-sidebar {
	padding-top: 2em;
}

div.lineSidebar .sidebar_menu, div.lineSidebar .widget-area {
	
	
	h1 {
		
			text-align: left;
		
	}
	
	ul#nav_explore {
		padding-left: 0px;
		
		li {
			a .nav_text {
				text-align: left;
			}
		}
	}
}

.sidebar_menu {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#cals_uwds_search_results {
	margin-top: 2rem;
}

.search .cardSidebar .sidebar_menu {
	width: 100%;
	margin-left: 2rem;
	margin-top: 2rem;

	ul {
		list-style: none;

		li {
			margin-bottom: 1rem;
		}
	}
}



.sidebar_menu.expanded {
	h1 {
		a {
			position:relative;
			margin-top: 0;
			padding: 0.7em;
			padding-left: 0px;
			color: rgba(42, 42, 42, 0.8);
			font-family: "Roboto Condensed",sans-serif;
			font-weight: 700;
			font-size: 14px;
			line-height: 1;
			letter-spacing: .3px;
			text-transform: uppercase;
			margin-bottom: 0.5em;
		}
	}

	#nav_explore {
		a.immediateParent {
			font-weight: bold;
		}

		a.immediateParent:before {
			background: rgba(171, 171, 171, 1);
			box-shadow: inset 0px 0px 0px 1px #fff;
			border: 2px solid rgba(171, 171, 171, 1);
		}

		a.current_link {
			font-weight: bold;
		}

		a.current_link:before {
			background: $blue;
			box-shadow: inset 0px 0px 0px 1px #fff;

		}

		/* level3 */
		#nav_explore {
			a {
				.nav_text {
					margin-left: 14px;
				}

				.nav_text:before {
					content: "";
					display: block;
					width: 24px;
					height: 2px;
					border-top: 1px solid rgba(0,0,0,0.2);
					background: #fff;
					border-radius: 100px;
					position: absolute;
					top: 50%;
					left: -10px;
					z-index:4;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
				}

			}

			/* level4 */
			#nav_explore {
				a {
					.nav_text {
						margin-left: 14px;
						
					}

					.nav_text:before {
						content: "";
						display: block;
						width: 40px;
						height: 2px;
						border-top: 1px solid rgba(0,0,0,0.2);
						background: #fff;
						border-radius: 100px;
						position: absolute;
						top: 50%;
						left: -20px;
						z-index:4;
						transform: translateY(-50%);
						-webkit-transform: translateY(-50%);
					}
				}
			}
		}
	}


}


.sidebar_menu > #nav_explore > li:last-child {


		a {
			border-bottom: none;

		}

		a:last-child:after {


		}
	}

.home {
	.postsRightSidebar.dotsSidebar {
		.sidebarWrapper {
			.sidebar_menu #nav_explore li a:before, .sidebar_menu .widget ul li a:before, .widget-area #nav_explore li a:before, .widget-area .widget ul li a:before {
				background: $uwred;
				border: 2px solid rgba(255,255,255,0.8);
			}
	
			.sidebar_menu h1:before, .widget-area h1:before {
				border: 2px solid #fff;
				background: #fff;
			}
	
			.spotlight.right-sidebar ul li:last-child, .spotlight.right-sidebar ul li:last-child {
				a:after {
					transform: translateY(-100%);
					-webkit-transform: translateY(-100%);
				}
	
			}
		}
	}
}

.listRightSidebar.dotsSidebar {
	.sidebarWrapper {
		.sidebar_menu #nav_explore li a:before, .sidebar_menu .widget ul li a:before, .widget-area #nav_explore li a:before, .widget-area .widget ul li a:before {
			background: $uwred;
			border: 2px solid rgba(255,255,255,0.8);
		}
	
		.sidebar_menu h1:before, .widget-area h1:before {
			border: 2px solid #fff;
			background: #fff;
		}
	
		.spotlight.right-sidebar ul li:last-child, .spotlight.right-sidebar ul li:last-child {
			a:after {
				transform: translateY(-100%);
				-webkit-transform: translateY(-100%);
			}
	
		}
	}
}

.cardSidebar {
	.right-sidebar {
		.sidebar_menu, .widget-area {
			background: transparent;
			box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
			border: 1px solid rgba(0,0,0,0);
			border-bottom: 4px solid $uwred;
			padding: 2em;
			margin-top: 0em;

			h1 {
				padding: 0px;
				text-align: center;


				a {
					color: #838383;
					font-size: 0.9em;
					padding: 0px;
					font-weight: 400;
					letter-spacing: 0.4px;
				}
			}


			h1:before, h1:after {
				display: none !important;
			}

			ul {
				margin: 0px;

				li {
					margin: 0px;

					a {
						/*color: #454545;*/

						.nav_text {
							padding-left: 0px !important;
						}
					}

					a:before {
						display: none !important;
					}

					a:after {
						display: none !important;
					}
				}
			}
		}
	}

	.sidebar_menu, .widget-area {
		background: #fff;
		box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
		border: 1px solid rgba(0,0,0,0.1);
		border-bottom: 4px solid $uwred;
		padding: 2em;
		margin-top: 0em;

		h1 {
			padding: 0px;
			text-align: center;


			a {
				color: #838383;
				font-size: 0.9em;
				padding: 0px;
				font-weight: 400;
				letter-spacing: 0.4px;
			}
		}


		h1:before, h1:after {
			display: none !important;
		}

		ul {
			margin: 0px;

			li {
				margin: 0px;

				a {
					/*color: #454545;*/

					.nav_text {
						padding-left: 0px !important;
					}
				}

				a:before {
					display: none !important;
				}

				a:after {
					display: none !important;
				}
			}
		}
	}
}

.cardSidebar {
	.sidebar_menu, .widget-area {
		margin-bottom: 2rem;

		ul li a {
			.nav_text:before {
				display: none !important;
			}
		}
	}
}

.lineSidebar {
	.sidebar_menu, .widget-area {
		/*background: #fff;
		box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
		border: 1px solid rgba(0,0,0,0.1);
		border-bottom: 4px solid $uwred;
		padding: 2em;*/

		border-left: 1px solid rgba(0,0,0,0.1);
		padding-left: 2em;
		margin-top: 0em;

		h1 {
			padding: 0px;



			a {
				color: #393939;

				padding: 0px;
				font-weight: 700;
				letter-spacing: 0.4px;
				text-transform: uppercase;
			}
		}


		h1:before, h1:after {
			display: none !important;
		}

		ul#nav_explore {
			padding-left: 0em;

			li {
				a.current_link {
					border-left: 4px solid $blue;
				}
			}
		}

		ul#nav_explore {
			li a .nav_text {
				/*margin-left: 0.8em;*/
			}
		}

		ul#nav_explore li a.current_link .nav_text {
			font-family: "Verlag-Bold" !important;
		}

		ul.children {
			background: transparent;
			border-left: 1px solid rgba(0,0,0,0.3);
			/*background: #fff;
			box-shadow: 0px 1px 6px rgba(0,0,0,0.12);
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;*/
		}

		ul#nav_explore li a, ul#nav_explore li ul#nav_explore li a {
			padding-top: 0.4em;
			padding-bottom: 0.4em;
		}

		ul#nav_explore > li a.current_link .nav_text {
			margin-left: 0.8em;
		}

		ul#nav_explore ul#nav_explore.currentSub > li a .nav_text {
			margin-left: 1.2em;
		}

		ul.currentSub {
			/*border-left: 1px solid $blue;*/

			li a .nav_text {
				
				/*margin-left: 1.4em !important;*/
			}

			li:first-child a {
				padding-top: 0px !important;
			}

			li:last-child a {
				padding-bottom: 0px !important;
			}

			
		}

		

		ul {
			margin: 0px;


			li {
				margin: 0px;

				a {

					color: #454545;
					text-transform: capitalize !important;
					font-size: 0.9em !important;

					.nav_text {
						font-family: "Open Sans" !important;
						padding-left: 0px !important;
					}

					.nav_text:before {
						display: none !important;
					}
				}

				a.current_link {
					font-weight: 400 !important;
					color: $blue;
				}

				a:before {
					display: none !important;
				}

				a:after {
					display: none !important;
				}
			}
		}
	}
}

div.sidebar_menu.page-widget-sidebar {
	ul {
		li {
			a {
				padding-left: 1.7rem;
			}
		}
	}
}

.sidebar_menu, .widget-area {
	width: 23%;
	float: left;
	vertical-align: top;
	margin-top: 0em;



	h1 {
		position:relative;
		margin-top: 0;
		padding: 0.7em;
		padding-left: 26px;
		color: rgba(42, 42, 42, 0.8);
		font-family: "Roboto Condensed",sans-serif;
		font-weight: 700;
		font-size: 14px;
		line-height: 1;
		letter-spacing: .3px;
		text-transform: uppercase;
		margin-bottom: 0.5em;
	}

	h1:before {
		content: "";
		display: block;
		width: 14px;
		height: 14px;
		border: 2px solid #8a8a8a;
		background: #8a8a8a;
		border-radius: 100px;
		position: absolute;
		top: 50%;
		left: 0px;
		z-index:5;
		transform: translateY(-50%);
	}

	h1:after {
		content: "";
		display: block;
		width: 1px;
		height: 50px;
		border-left: 1px solid rgba(0,0,0,0.2);
		background: #fff;
		border-radius: 100px;
		position: absolute;
		top: 50%;
		left: 6px;
		z-index:4;

	}

	#nav_explore > li:last-child {
		position: relative;

		a {
				display: block;
				position: relative;
				font-family: "Roboto Condensed",sans-serif;
				font-weight: 400;
				font-size: 14px;
				line-height: 1;
				letter-spacing: .3px;
				padding: .8em 0em;
				padding-left: 0px;
				margin-top: 0;
				margin-bottom: 0;
				text-transform: uppercase;
				overflow: hidden;


				.nav_text {
					display: block;
					font-family: "Roboto Condensed",sans-serif;
					position: relative;
					padding-left: 26px;

					transition: 0.3s;
					-webkit-transition: 0.3s;
					-moz-transition: 0.3s;

				}




			}

			a:before {
					content: "";
					display: block;
					width: 14px;
					height: 14px;
					border: 2px solid rgba(0,0,0,0.5);
					background: $default-background;
					border-radius: 100px;
					position: absolute;
					top: 50%;
					left: 0px;
					z-index:5;
					transform: translateY(-50%);
				}

				a:after {
					content: "";
					display: block;
					width: 1px;
					height: 160px;
					border-left: 1px solid rgba(0,0,0,0.2);
					background: #fff;
					border-radius: 100px;
					position: absolute;
					top: 50%;
					left: 6px;
					z-index:4;
					transform: translateY(-100%);
					-webkit-transform: translateY(-100%);
				}

			a:hover,
			a:focus {
				span.nav_text {
					display: block;
					transform: translateX(10px);
					-webkit-transform: translateX(10px);

				}
			}

	}


	#nav_explore.children > li:last-child {
		position: relative;

		a {
				display: block;
				position: relative;
				font-family: "Roboto Condensed",sans-serif;
				font-weight: 400;
				font-size: 14px;
				line-height: 1;
				letter-spacing: .3px;
				padding: .8em 0em;
				padding-left: 0px;
				margin-top: 0;
				margin-bottom: 0;
				text-transform: uppercase;
				overflow: hidden;

				.nav_text {
					display: block;
					font-family: "Roboto Condensed",sans-serif;
					position: relative;
					padding-left: 26px;

					transition: 0.3s;
					-webkit-transition: 0.3s;
					-moz-transition: 0.3s;

				}




			}

			a:before {
					content: "";
					display: block;
					width: 14px;
					height: 14px;
					border: 2px solid rgba(0,0,0,0.5);
					background: $default-background;
					border-radius: 100px;
					position: absolute;
					top: 50%;
					left: 0px;
					z-index:5;
					transform: translateY(-50%);
				}

				a:after {
					content: "";
					display: block;
					width: 1px;
					height: 160px;
					border-left: 1px solid rgba(0,0,0,0.2);
					background: #fff;
					border-radius: 100px;
					position: absolute;
					top: 50%;
					left: 6px;
					z-index:4;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
				}

			a:hover,
			a:focus {
				span.nav_text {
					display: block;
					transform: translateX(10px);
					-webkit-transform: translateX(10px);

				}
			}

	}




	#nav_explore, .widget ul {
		list-style: none;
		margin: 0em;
		padding: 0em;


		li {
			position: relative;

			a {
				display: block;
				position: relative;
				font-family: "Roboto Condensed",sans-serif;
				font-weight: 400;
				font-size: 14px;
				line-height: 1;
				letter-spacing: .3px;
				padding: .8em 0em;
				padding-left: 0px;
				margin-top: 0;
				margin-bottom: 0;
				text-transform: uppercase;
				overflow: hidden;

				.nav_text {
					display: block;
					font-family: "Roboto Condensed",sans-serif;
					position: relative;
					padding-left: 26px;


					transition: 0.3s;
					-webkit-transition: 0.3s;
					-moz-transition: 0.3s;

				}




			}

			a:before {
					content: "";
					display: block;
					width: 14px;
					height: 14px;
					border: 2px solid rgba(0,0,0,0.5);
					background: $default-background;
					border-radius: 100px;
					position: absolute;
					top: 50%;
					left: 0px;
					z-index:5;
					transform: translateY(-50%);
				}

				a:after {
					content: "";
					display: block;
					width: 1px;
					height: 160px;
					border-left: 1px solid rgba(0,0,0,0.2);
					background: #fff;
					border-radius: 100px;
					position: absolute;
					top: 50%;
					left: 6px;
					z-index:4;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
				}

			a:hover,
			a:focus {
				span.nav_text {
					display: block;
					transform: translateX(10px);
					-webkit-transform: translateX(10px);

				}
			}

		}





	}
}


.widget_nav_menu {

	.menu-item {
			a {}
			a:hover,
			a:focus {
				span.nav_text {
					display: block;
					transform: translateX(10px);
					-webkit-transform: translateX(10px);
				}
			}

	}
}

.widget_nav_menu {

	.menu-item {
	
			a {}
			a:hover,
			a:focus {
				span.nav_text {
					display: block;
					transform: translateX(10px);
					-webkit-transform: translateX(10px);
				}
			}

	}
}

.widget-area{
	aside{
		padding-left: 0.6em;
	}
	aside.widget_text .widget-title{
		color:rgba(255,255,255,1);
		font-size: 16px;
		font-family:Raleway;
		font-weight: 400;

	}
	aside.widget_text .textwidget, aside.widget_text .textwidget p {
		color:rgba(255,255,255,.8);
		font-family: "Open Sans", sans-serif;
		font-size:14px;
		font-weight: 300;
		-webkit-animation: fadein .6s forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: .4s;
		animation: fadein .6s forwards;
		animation-iteration-count: 1;
		animation-delay: .4s;
		opacity: 0;
	}

	/*aside:first-child{
		padding-left: 0em;
	}*/
}
