.spotlight {
	
	margin: 3em 15em;
	text-align: center;
	display: block;
	
	.spotlightImage{
		overflow: hidden;
		border-radius: 5em;
		width: 130px;
		height: 130px;
		text-align: center;
		display: block;
		margin: 0 auto;
		
		img {
			width: 100%;
			height: auto;
		}
	}
}