@keyframes rotatein {
	0% {
		transform: translate(-100px,0px) rotate(-90deg);
		opacity: 0;
	}
	
	100% {
		transform: translate(0px,0px) rotate(0deg);
		opacity: 1;
	}
}

@-webkit-keyframes rotatein {
	0% {
		-webkit-transform: translate(-100px,0px) rotate(-90deg);
		opacity: 0;
	}
	
	100% {
		-webkit-transform: translate(0px,0px) rotate(0deg);
		opacity: 1;
	}
}

@-moz-keyframes rotatein {
	0% {
		-moz-transform: translate(-100px,0px) rotate(-90deg);
		opacity: 0;
	}
	
	100% {
		-moz-transform: translate(0px,0px) rotate(0deg);
		opacity: 1;
	}
}


@keyframes fadein {
	0% {
		transform: translate(0px,-50px) rotate(-30deg);
		opacity: 0;
	}
	
	100% {
		transform: translate(0px,0px) rotate(0deg);
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
	0% {
		-webkit-transform: translate(0px,-50px) rotate(-30deg);
		opacity: 0;
	}
	
	100% {
		-webkit-transform: translate(0px,0px) rotate(0deg);
		opacity: 1;
	}
}

@-moz-keyframes fadein {
	0% {
		-moz-transform: translate(0px,-50px) rotate(-30deg);
		opacity: 0;
	}
	
	100% {
		-moz-transform: translate(0px,0px) rotate(0deg);
		opacity: 1;
	}
}


.spotlight ul li:nth-child(2), .spotlight ul li:nth-child(5) {
	.spotlightImage {
		animation-delay: 0.6s;
		-webkit-animation-delay: 0.6s;
		-moz-animation-delay: 0.6s;
	}
	
	h2 {
		animation-delay: 0.6s;
		-webkit-animation-delay: 0.6s;
		-moz-animation-delay: 0.6s;
	}
	
	p {
		animation-delay: 0.6s;
		-webkit-animation-delay: 0.6s;
		-moz-animation-delay: 0.6s;
	}

}

.spotlight ul li:nth-child(3), .spotlight ul li:nth-child(6) {
	.spotlightImage {
		animation-delay: 0.8s;
		-webkit-animation-delay: 0.8s;
		-moz-animation-delay: 0.8s;
	}
	
	h2 {
		animation-delay: 0.8s;
		-webkit-animation-delay: 0.8s;
		-moz-animation-delay: 0.8s;
	}
	
	p {
		animation-delay: 0.8s;
		-webkit-animation-delay: 0.8s;
		-moz-animation-delay: 0.8s;
	}

}

.home .spotlight.spotlight-page {
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 2em;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);

	.sidebarfold {
		display: block;
	}
}

.mobileNavOn.home .spotlight.spotlight-page {
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 2em;

	.sidebarfold {
		display: block;
	}
}

.spotlight.spotlight-page {
	padding-left: 0px;
	padding-right: 0px;

	.sidebarfold {
		display: none;
	}
}

.spotlight {
	.sidebarWrapper {
		margin-bottom: 3rem;
	}
}


.spotlight.left-sidebar {
	.row {
		width: 74%;
		float: right;
		margin-left: 1%;	
	} 
	
	.sidebarWrapper {
		float: left;
		width: 25%;
		text-align: left;
		
		
		.widget-area {
			float: none;
			width: 100%;
			margin-top: 1em;
		}
	}
	
	ul {
		li.span-33 {
			width: 100%;
			margin-bottom: 1.2em;
			padding-bottom: 1.2em;
			border-bottom: 1px solid rgba(0,0,0,0.1);
			line-height: 1em;
			
		}
		
		li:nth-child(2), li:nth-child(5) {
			margin-left: 0%;
			margin-right: 0%;
		}
	}
	
	.spotlightImage{
		overflow: hidden;
		border-radius: 15em;
		width: 140px;
		height: 140px;
		margin: 0px;
		display: block;
		float: left;
		animation: rotatein 0.6s forwards;
		animation-iteration-count: 1;
		animation-delay: 0.4s;
		-webkit-animation: rotatein 0.6s forwards;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-delay: 0.4s;
		-moz-animation: rotatein 0.6s forwards;
		-moz-animation-iteration-count: 1;
		-moz-animation-delay: 0.4s;
		transform: translate(-100px,0px) rotate(-90deg);
		opacity: 0;

		

		
		img {
			max-width: none;
			max-height: none;
			width: 100%;
			
		}
	}
	
	.spotlightText {
		float: left;
		width: 70%;
		margin-left: 5%;
		
		h2, .spotlightDate, p {
			text-align: left;
		}
	}
}

.listRightSidebar {
	.pagePadding {
		.spotlight.right-sidebar {
			.sidebarWrapper {
				margin-top: -7.5em;
			}
		}
	
	}
}

.listRightSidebar.hiddenSlides {
	
		
			.spotlight.right-sidebar {
				.sidebarWrapper {
					margin-top: 0em;
					
					.sidebarfold {
						display: none;
					}
				}
			}
		
		
	
}

.spotlight.right-sidebar {
	max-width: 100%;

	.row {
		width: 74%;
		float: left;
		margin-left: 1%;	
	} 
	
	.sidebarWrapper {
		position: relative;
		float: right;
		width: 25%;
		text-align: left;
		background: $uwred;
		
		margin-top: -6em;
		box-shadow: 0px 6px 14px rgba(0,0,0,0.3);

		.sidebarfold {
			position: absolute;
			top: 0px;
			left: -30px;
			z-index:-1;
			width: 30px;
			height: 30px;
		}
		
		.widget-area {
			float: none;
			width: 100%;
			margin-top: 1em;
			padding: 1.4em;

			p, a, li {
				color: rgba(255,255,255,0.9);
			}
		}
	}
	
	ul {
		li.span-33 {
			width: 100%;
			margin-bottom: 1.2em;
			padding-bottom: 1.2em;
			border-bottom: 1px solid rgba(0,0,0,0.1);
			line-height: 1em;
			
		}
		
		li:nth-child(2), li:nth-child(5) {
			margin-left: 0%;
			margin-right: 0%;
		}
	}
	
	.spotlightImage{
		overflow: hidden;
		border-radius: 15em;
		width: 140px;
		height: 140px;
		margin: 0px;
		display: block;
		float: left;
		animation: rotatein 0.6s forwards;
		animation-iteration-count: 1;
		animation-delay: 0.4s;
		-webkit-animation: rotatein 0.6s forwards;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-delay: 0.4s;
		-moz-animation: rotatein 0.6s forwards;
		-moz-animation-iteration-count: 1;
		-moz-animation-delay: 0.4s;
		transform: translate(-100px,0px) rotate(-90deg);
		opacity: 0;
		
		
		img {
			max-width: none;
			max-height: none;
			width: 100%;
			
		}
	}
	
	.spotlightText {
		float: left;
		width: 70%;
		margin-left: 5%;
		
		h2, .spotlightDate, p {
			text-align: left;
		}
	}
}

.spotlight {	
	max-width: $feature-width-max; 
	margin: 5em auto;
	text-align: center;
	display: block;
	padding-left: 2em;
	padding-right:2em;
	
	
	
	ul {
		
		li.span-33 {
			width: 30%;
		}
		
		li:nth-child(2), li:nth-child(5) {
			margin-left: 4%;
			margin-right: 4%;
		}
		
		
	}
	
	h2 {
		margin-top: 1.2em;
		
		animation: fadein 0.6s forwards;
		animation-iteration-count: 1;
		animation-delay: 0.4s;
		-webkit-animation: fadein 0.6s forwards;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-delay: 0.4s;
		-moz-animation: fadein 0.6s forwards;
		-moz-animation-iteration-count: 1;
		-moz-animation-delay: 0.4s;
		transform: translate(0px,-50px) rotate(-30deg);
		opacity: 0;
		line-height: 1.2;
		margin-bottom: 1em;

		
		a {
			font-family: "Roboto Condensed", sans-serif;
			font-size: 26px;
			font-weight: 400;
			text-decoration: none;
			color: #414141;
			line-height: 1.2;
		}
	}
	
	.spotlightDate {
		font-size: 11px;
		
		animation: fadein 0.6s forwards;
		animation-iteration-count: 1;
		animation-delay: 0.4s;
		-webkit-animation: fadein 0.6s forwards;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-delay: 0.4s;
		-moz-animation: fadein 0.6s forwards;
		-moz-animation-iteration-count: 1;
		-moz-animation-delay: 0.4s;
		transform: translate(0px,-50px) rotate(-30deg);
		opacity: 0;
	}
	
	p {
		font-family: "Open Sans", sans-serif;
		font-size: 14px;
		font-weight: 300;
		
		animation: fadein 0.6s forwards;
		animation-iteration-count: 1;
		animation-delay: 0.4s;
		-webkit-animation: fadein 0.6s forwards;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-delay: 0.4s;
		-moz-animation: fadein 0.6s forwards;
		-moz-animation-iteration-count: 1;
		-moz-animation-delay: 0.4s;
		transform: translate(0px,-50px) rotate(-30deg);
		opacity: 0;
	}
	
	
	
	.spotlightImage{
		overflow: hidden;
		border-radius: 15em;
		width: 180px;
		height: 180px;
		margin: 0 auto;
		display: block;
		
		animation: rotatein 0.6s forwards;
		animation-iteration-count: 1;
		animation-delay: 0.4s;
		-webkit-animation: rotatein 0.6s forwards;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-delay: 0.4s;
		-moz-animation: rotatein 0.6s forwards;
		-moz-animation-iteration-count: 1;
		-moz-animation-delay: 0.4s;
		transform: translate(-100px,0px) rotate(-90deg);
		opacity: 0;

		a {
			display: block;
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			z-index:1;
			border-radius: 100px;
			font-size: 0px;
			overflow: hidden;
		}
		
		
		img {
			max-width: none;
			max-height: none;
			width: 100%;
			
		}
	}
}

.box{height:100px;width:100px;overflow:hidden}
.wh{height:100%!important}
.ww{width:100%!important}


.spotlight_list{
	.spotlightImage{
		overflow: hidden;
		border-radius: 15em;
		width: 100px;
		height: 100px;
		display: inline-block;
		margin-top: 0.5em;
		
		animation: rotatein 0.6s forwards;
		animation-iteration-count: 1;
		animation-delay: 0.4s;
		-webkit-animation: rotatein 0.6s forwards;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-delay: 0.4s;
		-moz-animation: rotatein 0.6s forwards;
		-moz-animation-iteration-count: 1;
		-moz-animation-delay: 0.4s;
		transform: translate(-100px,0px) rotate(-90deg);
		opacity: 0;
		
		
		img {
			max-width: none;
			max-height: none;
		}
	}
	
	ul{
		margin-top: 2em;
	}
	
	li{
		margin-bottom: 3em;
	}
	
	h2{
		margin-top: 0em;
	}
	
	
	
	.blog_details{
		margin-left: 2em;
	}
	
	.date{
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 700;
		color: $gray;
		opacity: 0.8;
		padding: 0em;
		letter-spacing: 0.5px;
	}
}

.removeMargin {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.removePadding {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.grid.removeMargin {
	margin-top: 1.5em;
}

/* Minimum width of 430 pixels. */
@media screen and (max-width: 430px) {
	.spotlight_list .blog_details{
		margin-left: 1em;
	}
	
	
}
/* Minimum width of 330 pixels. */
@media screen and (max-width: 330px) {
	
	.spotlight_list .spotlightImage{
		width: 70px;
		height: 70px;
	}
}


/* Minimum width of 600 pixels. */
@media screen and (max-width: 600px) {

	.home .spotlight.spotlight-page .sidebarfold {
		display: none;

	}

	.spotlight {
		.row {
			.span-33 {
				width: 100%;
				float: none;
				margin-bottom: 4em;
			}
		}
		
		ul {
			li {
				padding-right: 0em;
			}
		}
		
		.spotlightImage{
			overflow: hidden;
			border-radius: 15em;
			width: 180px;
			height: 180px;
			margin: 0 auto;
			display: block;	 
		}
	
	
		h2 {
			margin-top: 1em;
			
			a {
				font-family: "Roboto Condensed", sans-serif;
				font-size: 32px;
				font-weight: 400;
				text-decoration: none;
				color: #414141;
			}
		}
		
		p {
			font-family: "Open Sans", sans-serif;
			font-size: 18px;
			font-weight: 300;
		}
	
	}

	
	.spotlight.left-sidebar, .spotlight.right-sidebar {
		.sidebarfold {
			display: none;
		}

		.row {
			padding-left: 0px;	
			width: 100%;
			float: none;
			margin-left: 0%;
		}
		
		.sidebarWrapper {
			/*float: none;*/
			width: 100%;
			text-align: left;
			margin-top: 2em;
			
			.widget-area {
				float: none;
				width: 100%;
				margin-top: 1em;
			}
		}
	
		.spotlightText {
			float: left;
			width: 100%;
			margin-left: 0%;
			
			h2, .spotlightDate, p {
				text-align: left;
			}
		}
	}
	
}

/* Minimum width of 960 pixels. */
@media screen and (max-width: 960px) {
	
	.spotlight {
		.spotlightImage{
			overflow: hidden;
			border-radius: 15em;
			width: 140px;
			height: 140px;
			margin: 0 auto;
			display: block;	 
		}
	}
	
	
		
	
}





/* =Print
----------------------------------------------- */

@media print {
  
}
